* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background: #f4f6f8;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin: 24px;
}

.cart-btn {
  width: 50px;
  height: 50px;
  padding: 8px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #212121;
  cursor: pointer;
}

.cart-btn-icon {
  fill: white;
}

.cart-btn-icon:active {
  fill: black;
}

.cart-btn:hover {
  background: #424242;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.cart-btn:active {
  color: black;
  background: white;
}

.cart-modal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  min-width: auto;
  max-width: 100%;
  padding: 24px;
  font-size: 24px;
  font-weight: 500;
  background: #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426;
          box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426;
  display: none;
  position: absolute;
  right: 0;
  top: 58px;
  z-index: 1;
  width: 600px;
}

.cart-modal:hover {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.cart-modal-sum {
  display: none;
  text-align: right;
}

.cart-modal-sum::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background: #212121;
}

.cart-modal-sum::after {
  content: "$";
}

.cart-modal-title {
  margin: 0 0 16px 0;
  border-bottom: 1px solid #ccc;
}

.cart-modal-items_list {
  list-style: none;
}

.cart-modal-items_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show {
  display: block;
}

.hide {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 24px 0 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: auto;
  max-width: none;
  padding: 24px;
  font-size: 24px;
  font-weight: 500;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426;
          box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426;
}

.item:hover {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-price {
  margin-left: 12px;
  padding: 0 12px;
  border: 1px solid #bf360c;
  color: #bf360c;
  border-radius: 3px;
}

.item-img {
  max-width: 250px;
  max-height: 250px;
  margin: 16px 0 0 0;
}

.item-btn {
  margin: 16px 0 0 0;
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #212121;
  cursor: pointer;
}

.item-btn:hover {
  background: #424242;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.item-btn:active {
  color: black;
  background: white;
}
/*# sourceMappingURL=style.css.map */